<!--バリデーション成功(Create)-->

<p class="validates-clear">Book was successfully created.</p>

<!--バリデージョン成功(Update)-->
<p class="validates-clear">Book was successfully updated.</p>

<p><strong>Title:</strong><%= @book.title %></p>

<p><strong>Body:</strong><%= @book.body %></p>

<%= link_to'Edit', edit_book_path(@book.id) %> | <%= link_to'Back', '/books' %>
